<html>
<body>
<h2>Available endpoints</h2>
<h3>Users</h3>
<ul>
    <li><b>/auth/token/</b></li>
    <li><b>/users/me/</b> - get information about me</li>
    <li><b>/users/all/</b> - get list of all users</li>
    <li><b>/users/add/</b> - add user</li>
    <li><b>/users/delete/{user_id}/</b> - delete user by user_id</li>
</ul>

<h3>Tasks</h3>
<ul>
    <li><b>/tasks/create/</b> - create new task</li>
    <li><b>/tasks/all</b> - get list of all tasks of all users</li>
    <li><b>/tasks/user_id/{user_id}/</b> - get list of all tasks of user with user_id</li>
    <li><b>/tasks/me/</b> - get all my tasks</li>
    <li><b>/tasks/delete/{task_id}/</b> - delete task by task_id</li>
</ul>

<h3>Groups</h3>
<ul>
    <li><b>/groups/add/</b> - create new group</li>
    <li><b>/groups/all/</b> - get list of all groups</li>
    <li><b>/groups/user_id/{user_id}/</b> - get all groups of user with user_id</li>
    <li><b>/groups/me/</b> - get all my groups</li>
    <li><b>/groups/delete/{group_id}</b> - delete group by group_id</li>
</ul>
</body>
</html>